#input {
    text-align: center;
    background-color: rgb(233, 119, 119);
    display: block;
    margin: auto;
    width: 348px;
    border-radius: 12px;
    padding: 5px;
    border-style:outset;
    border-bottom: none;
}

body {
    background-color: rgb(247, 203, 203);
    /* font-family */
    font-size: large;
}

#para {

    text-align: center;
    background-color: rgb(240, 219, 219);
    display: block;
    margin: auto;
    width: 348px;
    border-radius: 12px;
    /* padding-top: 5px; */
    padding: 5px;
    /* border-top-style:inset; */
    border-bottom-style:outset;
}

#btn {
    background-color: rgb(247, 143, 74);
    font-size: large;
    border-radius: 9px;
}